body{
    background: url("../img/bg-9-full.jpg");
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
}

.form-register, .form-signin {
    max-width: 600px;
    padding-top: 50px;
    margin: 0 auto;
}